<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Articles</a>
    <div class="collapse navbar-collapse">
      <form class="d-flex mx-auto" role="search" (ngSubmit)="search()">
        <input
          [(ngModel)]="searchTerm"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="searchTerm"
          (ngModelChange)="filterArticles()">
      </form>
      <a href="javascript:void(0)" class="nav-link ms-3" (click)="toggleForm()">New Article</a>
    </div>
  </div>
</nav>

<div class="container mt-5" *ngIf="showForm">
  <h2>New Article</h2>
  <form #articleForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input [(ngModel)]="newArticle.Title" type="text" class="form-control" id="title" name="title" placeholder="Enter article title" required>
    </div>
    <div class="form-group">
      <label for="photo">Photo URL</label>
      <input [(ngModel)]="newArticle.Photo" type="text" class="form-control" id="photo" name="photo" placeholder="Enter photo URL" required>
    </div>
    <div class="form-group">
      <label for="date">Date of Publication</label>
      <input [(ngModel)]="newArticle.date" type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea [(ngModel)]="newArticle.Description" class="form-control" id="description" rows="3" name="description" placeholder="Enter article description" required></textarea>
    </div>
    <button (click)="addArticle()" type="button" class="btn btn-primary" [disabled]="articleForm.form.invalid">Submit</button>
  </form>
</div>

<div class="container mt-5">
  <h2>The Articles</h2>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of filteredArticles">
        <div class="card">
          <div class="card-header">
            <h5>{{item.Title}}</h5>
          </div>
          <img [src]="item.Photo" class="card-img-top fixed-height-img" alt="Article Image">
          <div class="card-body">
            <p class="card-text"><strong>Date:</strong> {{item.date}}</p>
            <p class="card-text"><strong>Description:</strong> {{item.Description}}</p>
            <p class="card-text"><strong>Score:</strong> {{item.Score}}</p>
            <div class="mt-2">
              <button type="button" class="btn btn-success btn-sm" (click)="increaseScore(item)">Up</button>
              <span class="mx-2"></span>
              <button type="button" class="btn btn-danger btn-sm" (click)="decreaseScore(item)">Down</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

